In [7]:
import requests
from bs4 import BeautifulSoup

In [8]:
def naver_top20():
    df = pd.DataFrame(columns=["rank","keyword"])
    response = requests.get("http://naver.com")
    dom = BeautifulSoup(response.content, "html.parser")
    keywords = dom.select(".ah_roll .ah_l .ah_item")
    for keyword in keywords:
        df.loc[len(df)] = {
            "rank":keyword.select_one(".ah_r").text,
            "keyword":keyword.select_one(".ah_k").text,
        }
    return df

naver_df = naver_top20()
naver_df

   rank    keyword
0     1    해운대 엘시티
1     2       붐붐파워
2     3        김윤옥
3     4        정두언
4     5        엘시티
5     6        정용화
6     7        탁현민
7     8        남궁연
8     9      나혼자산다
9    10        조정석
10   11      이순재나이
11   12  보육통합정보시스템
12   13    남궁연 성추행
13   14      정월대보름
14   15        예비군
15   16        김태리
16   17        이순재
17   18        미스티
18   19         큐넷
19   20        신영균

In [11]:
def daum_top10():
    df = pd.DataFrame(columns=["rank","keyword"])
    response = requests.get("http://daum.net")
    dom = BeautifulSoup(response.content, "html.parser")
    keywords = dom.select("#mArticle ol.list_hotissue.issue_row.list_mini > li")
    for keyword in keywords:
        df.loc[len(df)] = {
            "rank":keyword.select_one(".ir_wa").text.replace("위",""),
            "keyword":keyword.select_one(".link_issue").text,
        }
    return df
daum_df = daum_top10()
daum_df

  rank  keyword
0    1      한선화
1    2      김윤옥
2    3      김지철
3    4  해운대 엘시티
4    5      조근현
5    6     패럴림픽
6    7      이주열
7    8       유이
8    9      남궁연
9   10      신소율

##### 중복된 키워드 찾아서 출력하기

In [12]:
result = [keyword for keyword in daum_df["keyword"] if naver_df["keyword"].str.contains(keyword).any() ]
result

['김윤옥', '해운대 엘시티', '남궁연']